/DuplicatesFinderPlus/bin/
/DuplicatesFinderPlus/obj/
/LibrarySomeMetods/bin/
/LibrarySomeMetods/obj/
/InclusionMetods/bin/
/InclusionMetods/obj/
/FinalProjectReWritten/bin/
/FinalProjectReWritten/obj/
